{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "bracketSpacing:": false,
    "bracketSameLine": false,
    "jsxBracketSameLine": false,
    "arrowParens": "always"
}